/* TODO Add site wide styles */
html,
body {
    font-family: "Courier New", Courier, Monaco;
    background-color: black;
    background-image: url("https://d17ol771963kd3.cloudfront.net/assets/bg/1-59b00d663c47e1d9275ef49b685893a4.gif");
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: brightness(105%) */

}


/* .background-image-container {
    background-image: url("https://d17ol771963kd3.cloudfront.net/assets/bg/1-59b00d663c47e1d9275ef49b685893a4.gif");
    background-size: cover;
    width: 100%;
    height: 100%;
} */
