.navlower__container {
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -5px;
}

.home-left {
    margin-left: 16px;
}

.nav-right {
    margin-right: 16px;
}

.navlower {
    font-size: 15px;
    margin-right: 14px;
    text-decoration: none;
    /* color: black; */
    color: #ffffff;
    padding: 1px;
}

.navlower:hover {
    background-color: #ED1C24;
    color: #ffffff;
}

.navupper__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navupper {
    font-size: 16px;
    margin-right: 12px;
    margin-left: 12px;
    text-decoration: none;
    color: #ffffff;
    padding: 1px;
    margin-top: 16px;
}

.navupper:hover {
    background-color: #ED1C24;
    color: #ffffff;
}

.navmain__container {
    display: flex;
    justify-content: center;
    margin: 48px;
}

.navmain {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    margin-right: 48px;
    padding: 1px;
}

.navmain:hover {
    background-color: #ED1C24;
}