.product__map-container {
    background-color: #ffffff;
    width: 1000px;
    height: 625px;
    overflow-y: scroll;
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-wrap: normal;
    justify-content: center;
    margin-bottom: 35px;
    margin-top: 15px;
}

.product__list-product {
    position: relative;
    padding: 4px;
}


.product__list-product-img img {
    height: 170px;
    width: 170px;
    padding: 2px;
    margin: 2px 4px;
}

/* .product__list-product-img img:hover {
    border: 0px solid transparent;
} */

.category__map--container {
    background-color: #ffffff;
    width: 1000px;
    height: 625px;
    overflow-y: scroll;
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-wrap: normal;
    margin-bottom: 35px;
    margin-top: 15px;
}

.category__list--product{
    position: relative;
    padding: 4px;
}

.category__img {
    height: 170px;
    width: 170px;
    padding: 5px;
    margin: 2px 4px;

}

/* .category__img:hover {
    border: 1px solid #b5b5b5;
} */

.category__list--img {
    text-decoration: none;
    color: #000000;
}

.category__list--img:hover {
    font-weight: bold;
}

.category__product--name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    overflow-wrap: normal;
    max-width: 170px;
    text-align: left;
}

.category__product--color {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    overflow-wrap: normal;
    max-width: 170px;
    text-align: left;
}


