

.profile__user--container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    padding: 6px;
    width: 840px;
}

.profile__pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profile__username {
    color: #000000;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;

}

.profile__logout {
    width: 40px;
    height: 40px;
}

.profile__order-container {
    width: 850px;
    height: 600px;
    background-color: #ffffff;
    margin: 0px auto;
    overflow-y: scroll;
    border: 1px dotted #636363;

}


.profile__orders {
    width: 840px;
    height: 25px;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 6px;
    text-align: left;
    background-color: #CCCCCC;
    position: absolute;
    z-index: 1;

}

.profile__container--outer {
    margin-top: 30px;
}

.profile__transaction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px;
}

.profile__item--container{
    display: flex;
    flex-direction: row;
}

.profile__item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #636363;

}

.profile__item--img {
    display: flex;
    text-align: left;
    justify-content: center;
    align-self: center;
    height: 120px;
    width: 120px;
    padding: 5px 10px;
    border-right: 1px dotted #636363;
}

.profile__item--img img {
    display: flex;
    position: relative;
    text-align: center;
    height: 90px;
    width: 90px;
    padding: 4px;
}

.profile__item--description {
    width: 100%;
    display: flex;
    overflow-wrap: normal;
    font-size: 16px;
    padding: 5px 10px;
    border-bottom: 1px solid #636363;
}

.profile__item--name {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-self: center;
}

.profile__item--price {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-self: center;
    margin: auto 24px;
    width: 178px;
}

.profile__transaction--price {
    text-align: end;
    padding: 4px;
    border-bottom: 1px solid #636363;
}